@import '../../../../font';

.filter {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tableTitle {
  @include fontStyle(normal, 18px, 22px);
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 16px;
}

.form {
  @include fontStyle(normal, 14px, 22px);
  color: #000000;
}
