@import '../../../font';

.navbar {
  background-color: #2673dd;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0px 25px;
  @include fontStyle(500, 18px, 24px);
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  margin-left: 16px;
  text-align: center;
}

.avatar {
  color: #f56a00;
  background-color: #ffffff;
}

.logoutButton {
  @include fontStyle(normal, 16px, 18px);
  border: none;
  width: 100%;
  text-align: left;
  padding: 0px;
}

.userName {
  @include fontStyle(normal, 16px, 18px);
  color: rgba(0, 0, 0, 0.85);
}

.userEmail {
  @include fontStyle(normal, 14px, 16px);
  color: rgba(0, 0, 0, 0.45);
}
