@import '../../../font';

.sidebar {
  background: #fff;
  padding-top: 20px;
  border-right: 1px solid rgba(211, 214, 214, 0.65);
}

.menu {
  width: '100%';
  color: 'black';
  @include fontStyle(normal, 16px, 1.6);
}
