@import '../../../font';

.chart {
  padding: 25px;
  background-color: white;
}

.title {
  @include fontStyle(normal, 14px, 2);
}

.column {
  margin-top: 30px;
  margin-bottom: 30px;
}

.chartTitle {
  @include fontStyle(normal, 18px, 22px);
  color: rgba(0, 0, 0, 0.87);
  margin: 20px 0px;
}

.columnTitle {
  @include fontStyle(normal, 18px, 22px);
  color: rgba(0, 0, 0, 0.87);
  margin: 20px 0px;
  text-align: center;
}

.yearPicker {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}

.normalFont {
  @include fontStyle(normal, 16px, 22px);
  margin: 0px 20px;
}
