@mixin fontStyle($fontWeight: normal, $fontSize: 14px, $lineHeight: 22px) {
  font-family: Roboto;
  font-style: normal;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
}
