* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex: 1 1 100vh;
  flex-direction: column;
}
